- name: pve | install proxmoxer package 
  package:
    name: python3-proxmoxer
    state: latest

- name: pve | install sanoid package
  package:
    name: sanoid
    state: latest
  when: ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]

- name: pve | create zfs-replication user for syncoid replication
  import_tasks: ../base/tasks/users/zfs-replication.yml

- name: pve | deploy SSH wrapper script for zfs-replication user
  tags: pve,zfs-replication
  copy:
    src: zfs-replication-ssh-wrapper.sh
    dest: /usr/local/sbin/zfs-replication-ssh-wrapper
    owner: root
    group: root
    mode: 0755

- name: pve | grant zfs permissions to zfs-replication user (data pool)
  tags: pve,zfs-replication
  command: zfs allow -ldu zfs-replication send,receive,list {{ zfs_pool_name | default('data') }}
  changed_when: false
  # Note: zfs allow is idempotent - running multiple times is safe
  # Permissions needed for syncoid: send (for sending snapshots), receive (for receiving snapshots), list (for checking datasets)

- name: pve | create root .ssh directory on prox1 (for syncoid SSH key)
  tags: pve,zfs-replication,syncoid
  file:
    path: /root/.ssh
    state: directory
    owner: root
    group: root
    mode: 0700
  when: inventory_hostname == 'prox1'

- name: pve | check if SSH private key exists in repo
  tags: pve,zfs-replication,syncoid
  stat:
    path: "{{ playbook_dir }}/roles/base/files/users/zfs-replication/ssh/zfs-replication-goher-2025"
  register: zfs_replication_privkey_check
  when: inventory_hostname == 'prox1'
  failed_when: false

- name: pve | deploy SSH private key to prox1 root (for syncoid to connect to prox)
  tags: pve,zfs-replication,syncoid
  copy:
    src: ../base/files/users/zfs-replication/ssh/zfs-replication-goher-2025
    dest: /root/.ssh/zfs-replication-goher-2025
    owner: root
    group: root
    mode: 0600
  when: 
    - inventory_hostname == 'prox1'
    - zfs_replication_privkey_check.stat.exists | default(false)
  # Note: The private key file must exist at roles/base/files/users/zfs-replication/ssh/zfs-replication-goher-2025
  # If the file doesn't exist, you'll need to manually copy it to /root/.ssh/zfs-replication-goher-2025 on prox1

- name: pve | create sanoid configuration directory
  tags: pve,sanoid
  file:
    path: /etc/sanoid
    state: directory
    owner: root
    group: root
    mode: 0755

- name: pve | check if sanoid.defaults.conf exists in package locations
  tags: pve,sanoid
  stat:
    path: "{{ item }}"
  register: sanoid_defaults_check
  loop:
    - /usr/share/sanoid/sanoid.defaults.conf
    - /usr/share/doc/sanoid/examples/sanoid.defaults.conf
  failed_when: false
  changed_when: false

- name: pve | copy sanoid.defaults.conf from package location
  tags: pve,sanoid
  copy:
    src: "{{ item.item }}"
    dest: /etc/sanoid/sanoid.defaults.conf
    owner: root
    group: root
    mode: 0644
    remote_src: yes
  loop: "{{ sanoid_defaults_check.results }}"
  when: item.stat.exists | default(false)
  ignore_errors: yes

- name: pve | deploy sanoid configuration file (prox)
  tags: pve,sanoid
  copy:
    src: sanoid-prox.conf
    dest: /etc/sanoid/sanoid.conf
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname == 'prox'

- name: pve | deploy sanoid configuration file (prox1)
  tags: pve,sanoid
  copy:
    src: sanoid-prox1.conf
    dest: /etc/sanoid/sanoid.conf
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname == 'prox1'

- name: pve | deploy sanoid configuration file (prox2)
  tags: pve,sanoid
  copy:
    src: sanoid-prox2.conf
    dest: /etc/sanoid/sanoid.conf
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname == 'prox2'

- name: pve | deploy sanoid systemd service file
  tags: pve,sanoid
  copy:
    src: systemd/sanoid.service
    dest: /etc/systemd/system/sanoid.service
    owner: root
    group: root
    mode: 0644

- name: pve | deploy sanoid systemd timer file
  tags: pve,sanoid
  copy:
    src: systemd/sanoid.timer
    dest: /etc/systemd/system/sanoid.timer
    owner: root
    group: root
    mode: 0644

- name: pve | reload systemd daemon
  tags: pve,sanoid
  systemd:
    daemon_reload: yes

- name: pve | enable and start sanoid timer
  tags: pve,sanoid
  systemd:
    name: sanoid.timer
    enabled: yes
    state: started

- name: pve | deploy syncoid replication service (prox to prox1)
  tags: pve,syncoid
  copy:
    src: systemd/syncoid-prox-to-prox1.service
    dest: /etc/systemd/system/syncoid-prox-to-prox1.service
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname == 'prox1'

- name: pve | deploy syncoid replication timer (prox to prox1)
  tags: pve,syncoid
  copy:
    src: systemd/syncoid-prox-to-prox1.timer
    dest: /etc/systemd/system/syncoid-prox-to-prox1.timer
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname == 'prox1'

- name: pve | reload systemd daemon (for syncoid)
  tags: pve,syncoid
  systemd:
    daemon_reload: yes
  when: inventory_hostname == 'prox1'

- name: pve | enable and start syncoid timer (prox to prox1)
  tags: pve,syncoid
  systemd:
    name: syncoid-prox-to-prox1.timer
    enabled: yes
    state: started
  when: inventory_hostname == 'prox1'

- name: pve | run syncoid service once immediately (prox to prox1)
  tags: pve,syncoid
  systemd:
    name: syncoid-prox-to-prox1.service
    state: started
  when: inventory_hostname == 'prox1'
  ignore_errors: yes
  # Note: This may fail if prox is not available yet, which is fine
  # The timer will retry later, and ExecStartPre will wait for prox to be available
