- name: users | zfs-replication | create user
  tags: zfs-replication,users,pve
  user:
    name: zfs-replication
    system: yes
    shell: /bin/bash
    home: /var/lib/zfs-replication
    create_home: yes
    state: present

- name: users | zfs-replication | create .ssh directory
  tags: zfs-replication,ssh,users,pve
  file:
    path: /var/lib/zfs-replication/.ssh
    state: directory
    owner: zfs-replication
    group: zfs-replication
    mode: 0700

- name: users | zfs-replication | read public key content
  tags: zfs-replication,ssh,users,pve
  set_fact:
    zfs_replication_pubkey: "{{ lookup('file', 'roles/base/files/users/zfs-replication/ssh/zfs-replication-goher-2025.pub') | trim }}"

- name: users | zfs-replication | add public key with forced-command and security options
  tags: zfs-replication,ssh,users,pve
  lineinfile:
    path: /var/lib/zfs-replication/.ssh/authorized_keys
    line: 'command="/usr/local/sbin/zfs-replication-ssh-wrapper",no-agent-forwarding,no-port-forwarding,no-X11-forwarding,no-pty {{ zfs_replication_pubkey }}'
    create: yes
    owner: zfs-replication
    group: zfs-replication
    mode: '0600'
    regexp: '{{ zfs_replication_pubkey | regex_escape() }}'

- name: users | zfs-replication | read sudoers file content
  tags: zfs-replication,sudo,users,pve
  set_fact:
    zfs_replication_sudoers_content: "{{ lookup('file', 'roles/base/files/users/sudoers_zfs-replication') }}"

- name: users | zfs-replication | add sudoers file
  tags: zfs-replication,sudo,users,pve
  copy:
    content: "{{ zfs_replication_sudoers_content }}"
    dest: /etc/sudoers.d/zfs-replication
    owner: root
    group: root
    mode: 0440

